.Dropdown {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
  left: 0;
  z-index: 5;

  -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

  max-height: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dropdown.Open {
  -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  transition: max-height 0.3s, opacity 0.2s, visibility 0s;

  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay:.5s;

  max-height: 144px;
  opacity: 1;
  visibility: visible;
}

.Dropitem {
  background-color: #fff;
  color: #a9b1b3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.Dropitem:hover {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  color: #fff;
  background-color: #BEBEBE;
}

@media (max-width: 1000px) {
  .Dropitem {
    float: none;
    display: block;
    text-align: left;
    padding: 12px 40px;
  }

  .Dropdown {
    position: relative;
    box-shadow: none;
  }
}
