.Header {
  position: relative;
}

.Link {
  text-decoration: none;
  color:#404040;
}

.Branches, .Title {
  position: absolute;
  height: auto;
  z-index:-1;
}

.Title {
  width: 100%;
}

.TitleMobile {
  display: none;
}

@media (max-width: 600px) {
  .Branches {
      display:none;
  }

  .Title {
    display: none;
  }

  .TitleMobile {
    display: block;
  }
}