.Navbar {
  position: sticky;
  position: -webkit-sticky;
  top: -2px; /*makes up for tiny gap between top of screen and top of navbar*/
  margin: 0 0 0 0;
  max-height: 1000px; /*quick fix for mobile navbar bug*/
  z-index: 3;
  background-color: #e8c5d6;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3em;
}

.SearchBar {
  display: inline-block;
  background: #e8c5d6;
}

.SearchIcon {
  display: none;
}

.Hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  color: #917986;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.Hamburger:focus {
  outline: 0;
}

.HamburgerBox {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.HamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.HamburgerInner,
.HamburgerInner::before,
.HamburgerInner::after {
  width: 30px;
  height: 3px;
  background-color: #917986;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.HamburgerInner::before,
.HamburgerInner::after {
  content: '';
  display: block;
}

.HamburgerInner::before {
  top: -10px;
}

.HamburgerInner::after {
  bottom: -10px;
}

.HamburgerSlider .HamburgerInner {
  top: 2px;
}

.HamburgerSlider .HamburgerInner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.HamburgerSlider .HamburgerInner::after {
  top: 20px;
}

.HamburgerSlider.Active .HamburgerInner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.HamburgerSlider.Active .HamburgerInner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.HamburgerSlider.Active .HamburgerInner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.HamburgerIcon {
  display: none;
}

.Hide {
  display: none;
}

@media (max-width: 600px) {
  .Navbar {
    margin: 7.3vw 0 0 0;
  }
}

@media (max-width: 1000px) {
  .Navbar,
  .Navbar.Responsive {
    margin: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .SearchBar {
    display: none;
  }

  .SearchBar.Responsive {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .SearchIcon {
    display: block;
    position: absolute;
    top: 15px;
    right: 70px;
    color: #917986;
    font-size: 23px;
    cursor: pointer;
  }

  .SearchIcon:hover {
    color: #605159;
  }

  .SearchIcon:focus {
    color: #352d31;
  }

  .HamburgerIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 22px 9px 0;
    color: #917986;
  }
}
