.Navbar {
  margin-top: 15.5vw;
  margin-bottom: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #e8c5d6;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3em;
  z-index: 3;
}

@media (max-width: 600px) {
  .Navbar {
    margin-top: -19.7vw;
  }
}