.Gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2em 10vw 0 10vw;
  margin: 0;
}

.Flex2{
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 5px;
}

.Flex3{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

@media (max-width: 1100px) {
  .Col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .Col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}