.Form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 3;
}

.Input {
  outline: none;
  border: none;
  font-size: none;
  background: transparent;
  padding: 10px 20px 10px 52px;
  margin: 7px 106.5px 7px 106.5px;
  border-radius: 30px;
}

.Input.Expand {
  width: 100%;
  background: #f8e5ec;
  color: rgba(84, 74, 78, 0.5);
  animation: input-grow 0.5s ease-in-out backwards 0.5s;
}

.Input.Expand.Focussed {
  width: 100%;
  background: white;
  color: #444;
  cursor: text;
}

.Input.Collapse {
  width: 100%;
  display: none;
}

.CloseIcon {
  width: 1em;
  color: #917986;
  cursor: pointer;
  position: absolute;
  right: 126px;
  top: 18px;
  display: none;
}

.CloseIcon.Show {
  display: block;
  animation: close-icon-grow 0.5s ease-in-out backwards 0.5s;
}

.SearchIcon {
  width: 1em;
  margin-left: 26px;
  color: #917986;
  cursor: pointer;
}

.SearchIcon.Expand {
  position: absolute;
  top: 18px;
  left: 102px;
  animation: search-icon-grow 0.5s ease-in-out backwards 0.5s;
}

.SearchIcon:hover,
.CloseIcon:hover {
  color: #605159;
}

.SearchIcon:focus,
.CloseIcon:focus {
  color: #352d31;
}

@media (max-width: 1000px) {
  .Input {
    padding: 10px 20px 10px 43px;
    margin: 7px 15px;
  }

  .SearchIcon.Expand {
    left: 5px;
  }

  .CloseIcon {
    right: 31px;
  }
}

@keyframes input-grow {
  0% {
    opacity: 0;
    margin-left: 47%;
    margin-right: 47%;
  }

  100% {
    opacity: 1;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@keyframes input-shrink {
  0% {
    position: absolute;
    top: 18px;
    left: 102px;
    opacity: 1;
    margin-left: 10%;
    margin-right: 10%;
  }

  99% {
    opacity: 0;
    margin-left: 47%;
    margin-right: 47%;
  }

  100% {
    display: none;
  }
}

@keyframes close-icon-grow {
  0% {
    opacity: 0;
    right: 48%;
  }

  100% {
    opacity: 1;
    right: 11%;
  }
}

@keyframes search-icon-grow {
  0% {
    opacity: 0;
    left: 46%;
  }

  100% {
    opacity: 1;
    left: 9%;
  }
}
