.Root {
  position: relative;
  display: grid;
  grid-gap: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: none;
}

.HitsWrapper {
  display: grid;
  max-height: 50vh;
  overflow: scroll;
  margin-top: 0; /* under * selector */
  padding: 0; /* under * selector */
  z-index: 2;
  scrollbar-width: none; /* Hide scrollbar - Firefox */
  -ms-overflow-style: none; /* Hide scrollbar - IE 10+ */
}

.HitsWrapper.Hide {
  display: none;
}

.HitsWrapper div {
  vertical-align: middle;
}

.HitsWrapper ul {
  list-style: none;
  margin-left: 0px;
}

.HitsWrapper mark {
  color: #8d7982;
}

.HitsWrapper header + span {
  margin-left: 10px;
  color: gray;
}

.HitsWrapper header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.HitsWrapper header h3 {
  color: gray;
  padding: 0 0 0 0.4em;
  text-transform: uppercase;
  font-weight: 400;
}

.HitsWrapper header span {
  color: gray;
  padding: 6px 10px;
  font-weight: 600px;
}

.HitsWrapper h3 {
  margin: 0 0 0.5em;
}

.HitsWrapper h4 {
  margin-bottom: 0.3em;
}

.HitsWrapper::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Hide scrollbar -  Chrome/Safari/Webkit */
}

.Grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;
}

.Grid ul li {
  padding: 0.3em 0.5em;
  background: lightgray;
  border-radius: 14px; /* smallBorderRadius */
}

.List {
  position: absolute;
  left: 106px;
  top: calc(100% - 2.8em);
  width: calc(100% - 13.31em);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 2.7em 1em 0 1em;
  background: white;
  border-radius: 20px;
}

.List a {
  text-align: left;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.List > div {
  padding: 1em 0 !important;
}

.List > * + * {
  border-top: 2px solid darkgray;
}

.List li {
  padding: 10px;
  border-radius: 10px;
}

.List li:hover {
  background-color: #efefef;
}

.Attribution {
  font-size: 11px;
  padding: 11px;
}

.Attribution,
.Attribution a {
  color: #9d9c9c;
}

@media (max-width: 1000px) {
  .List {
    left: 15px;
    width: calc(100% - 1.84em);
  }
  .HitsWrapper {
    max-height: 78vh;
  }
}
