
.Archive {   
  position: relative; 
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  font-weight:300;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-decoration: none;
  padding-top: 2em;
}

.Slider {
  display: block;
  position: relative;
  padding: 10px;
  margin: 4em auto 2em auto;
  width: 400px;
}

.Label {
  width: 100%;
  text-align: center;
  margin-top: -54px;
  color: #b2b2b2;
  font-size: 20px;
  letter-spacing: 27px;
  text-indent: 27px;
  cursor: pointer;
}

.Label:hover {
  font-weight: 700;
}

.Label:active {
  color: #8d8d8d;
}

.Message {
  font-size:16px;
  text-align: center;
  padding-top: 150px;
  display: none;
}

@media (max-width: 500px) {
  .Slider {
    width: 270px;
    letter-spacing: 0.1em;
  }
}