.Dropdown {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  left: 0;
  z-index: 5;

  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

  max-height: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dropdown.Open {
  transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  transition-delay: 0.5s;

  max-height: 144px;
  opacity: 1;
  visibility: visible;
}

.Dropitem {
  background-color: #fff;
  color: #a9b1b3;
  padding: 12px 50px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}

.Dropitem:hover {
  transition: all 0.3s ease-in;
  color: #918f8f;
  background-color: #e7e4e4;
}

@media (max-width: 1000px) {
  .Dropitem {
    float: none;
    display: block;
    text-align: left;
    padding: 12px 60px;
  }

  .Dropdown {
    position: relative;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }
}
